*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    font-family:sans-serif;

}

.phone{

    width:447px;

    height:800px;

    background:black;

    border-radius:28px;

    overflow:hidden;

    box-shadow:0 0 40px rgba(0,0,0,.6);

}

.camera-header{

    height:60px;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:20px;

}

.preview{

    position:relative;

    width:100%;

    height:640px;

}

.preview img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.grid{

    position:absolute;

    inset:0;

}

.grid span{

    position:absolute;

    background:rgba(255,255,255,.35);

}

.grid span:nth-child(1){

    left:33.3%;

    top:0;

    width:1px;

    height:100%;

}

.grid span:nth-child(2){

    left:66.6%;

    top:0;

    width:1px;

    height:100%;

}

.grid .v1{

    top:33.3%;

    left:0;

    width:100%;

    height:1px;

}

.grid .v2{

    top:66.6%;

    left:0;

    width:100%;

    height:1px;

}

.bottom{

    height:100px;

    display:flex;

    justify-content:center;

    align-items:center;

}

#shutter{

    width:78px;

    height:78px;

    border-radius:50%;

    border:7px solid white;

    background:#ddd;

    cursor:pointer;

}

#shutter:hover{

    transform:scale(1.05);

}
